<configuration debug="false">
    <property name="highlightPattern"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)"/>
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n"/>

    <appender name="STDOUT_HIGHLIGHT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${highlightPattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.unclezs.samples.log.slf4j.logback" level="trace" additivity="false">
        <appender-ref ref="STDOUT_HIGHLIGHT"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT_HIGHLIGHT"/>
    </root>
</configuration>